
<div class="container">
  <div class=".bg-secondary.bg-gradient"></div>
    <div class="jumbotron" >
      <h1 class="display-4" ></h1>
    <br>
  </div>

  <div class="team_container">
      <h4 class="team_title">BMW-Z6 is an Angular based Web-Application that allows you to manage incidents.</h4>
  </div>

  
  <p class="team_mem">
    <b>Meet The Team...</b><br><br>
    Shibo Wang: Lead Software Engineer & Backend Programmer<br><br>
    Mingyue Guo:  UI Programmer & web designer<br><br>
    Zeenath Razak:  Frontend Developer & Security programmer <br><br>
    Betty Han:  Project Manager & Database Programmer 
</p>
</div>
