
.logo_container {
    text-align: center;
    background-color: #3e535a;
    width: 100%;
    height: auto;
}


.team_container {
    float: left;
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
    
    
}

.team_title {
    font-size: 30px;
    color: #131313;
    margin-top: 15px;
}
.team_mem{
    color:#070707;
    font-weight: bold;
    font-size: 20px;
    padding-top: 20px;
    
}
.center_content {
    margin: 20px 80px 80px 80px;
    text-align: center;
}

