<!-- Bootstrap CSS -->

<div class="container">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h1">Incidents List</h1>
  </div>
  <a class="btn btn-primary" *ngIf="isLoggedIn()" role="button" routerLink="/add-incident">
    <i class="fas fa-plus-circle"></i>Add An Incident
  </a>
  <a>
    <input type="checkbox" *ngIf="isLoggedIn()" (change)="checkValue($event)" id="ckbShowIncidents">
    <label *ngIf="isLoggedIn()" for="ckbShowIncidents">
      <b>Show All Incidents</b>
    </label>
  </a>
  <br> <br> <br>


  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Incident Id</th>
        <th scope="col">Name</th>
        <th scope="col">Date</th>
        <th scope="col">Description</th>
        <th scope="col">Priority</th>
        <th scope="col">Status</th>
        <th scope="col">Narrative</th>
        <th scope="col">Duration</th>
        <th scope="col">Resolution</th>
        <th class="text-center" scope="col">Action</th>
      </tr>
    </thead>

    <tbody>
      <tr class="clickable-row" [ngStyle]="{ 'background-color':  incident.status === 'New' ? 'red' : (incident.status === 'In Progress' ? 'green' : 'Yellow') }" *ngFor="let incident of Incidents; let i = index" routerLink="/log-incident/{{ incident.incidentId }}">
        <td>{{ incident.incidentId }}</td>
        <td>{{ incident.name }}</td>
        <td>{{ incident.date }}</td>
        <td>{{ incident.description}}</td>
        <td>{{ incident.priority }}</td>
        <td>{{ incident.status }}</td>
        <td>{{ incident.narrative }}</td>
        <td>{{ incident.duration }}</td>
        <td>{{incident.resolution}}</td>
        <td  class="text-center">
          <a *ngIf="isLoggedIn()">
          <button *ngIf="incident.status !== 'Closed'" class="btn btn-sm btn-primary" routerLink="/edit-incident/{{ incident._id }}">
            Edit
          </button>
          
          <button class="btn btn-sm btn-danger" *ngIf="isAdmin" (click)="delete(incident._id, i)" routerLink="/incidents-list">
            Delete
          </button>
       
        </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>