<div class="container">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h1">Incidents Log</h1>
  </div>
 
  
  <br>

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Incident Id</th>
        <th scope="col">Name</th>
        <th scope="col">Date</th>
        <th scope="col">Description</th>
        <th scope="col">Priority</th>
        <th scope="col">Status</th>
        <th scope="col">Narrative</th>
        <th scope="col">Duration</th>
        <th scope="col">Resolution</th>
        <th scope="col">Modification Time</th>      
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let IncidentLog of IncidentLogs; let i = index">
        <td>{{ IncidentLog.incidentId }}</td>
        <td>{{ IncidentLog.name }}</td>
        <td>{{ IncidentLog.date }}</td>
        <td>{{ IncidentLog.description}}</td>
        <td>{{ IncidentLog.priority }}</td>
        <td>{{ IncidentLog.status }}</td>
        <td>{{ IncidentLog.narrative }}</td>
        <td>{{ IncidentLog.duration }}</td>
        <td>{{IncidentLog.resolution}}</td>
        <td>{{IncidentLog.modificationTime}}</td>        
      </tr>
    </tbody>
  </table>
  <div class="text-center">
    <button class="btn btn-sm btn-danger" routerLink="/incidents-list">Back to Incident List</button>
  </div>
</div>